
<form class="form-control add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="task">Task</label>
        <input type="text" name="task" [(ngModel)]="name" id="task" placeholder="Enter task name">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="number" name="day" id="day" [(ngModel)]="star" placeholder="Add day and time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" placeholder="Add reminder">
    </div>
    {{name}}
    <input type="submit" value="Save Task" class="btn-block">
</form>